.DS_Store
*.zip
*.log
.cache-*/

**/node_modules/
**/dist/
**/build/
**/build-*/
**/*.tsbuildinfo

gurbani-reader-app/public/assets/databases/
gurbani-reader-app/android/.gradle/
gurbani-reader-app/android/app/build/
gurbani-reader-app/android/app/src/main/assets/public/
gurbani-reader-app/ios/App/App/public/

gurbani-corpus-poc/imports/
